{% extends "mylibraray/base_generic.html" %}

{% block content %}
<h1>Local Library Home</h1>

  <p>Welcome to <em>LocalLibrary</em>, a very basic Django website </p>



    <h2>Book: {{book.title}}</h2>
	<p> Book Author: {{book.author}}</p>
    <p> Due Date: {{book_instance.due_date}}</p>
	{% if book_instance.status == 'r'%}
		<p> Book Status: Reserved</p>
	{% endif %}
	{% if book_instance.status == 'b'%}
		<p> Book Status: Booked</p>
	{% endif %}
	{% if book_instance.status == 'a'%}
		<p> Book Status: Available</p>
	{% endif %}
{% endblock %}